$defaultMargin: 2%
$radius: 5px

#loginWrapper
	width: 60%
	padding: $defaultMargin
	margin-left: 20%
	margin-top: 100px
	text-align: center
	background-color: #E3E3E3
	border-radius: $radius

	.loginTitle
		margin: $defaultMargin

	#loginUsername, #loginPassword
		margin: $defaultMargin
		width: 96%

	#loginUsername
		margin-bottom: 0

	#loginPassword
		margin-top: 1px

	#loginSubmit
		width: 60%
