$defaultMargin: 2%

#registerWrapper
	width: 60%
	margin-left: 20%
	margin-top: 100px
	padding: $defaultMargin
	background-color: #E3E3E3
	border-radius: 5px
	text-align: center

	.registerTitle
		margin-bottom: $defaultMargin

	#registerFirstName, #registerLastName, #registerUsername, #registerPassword
		margin: 1px

	#registerSubmit, #registerCancel
		margin-top: $defaultMargin
		width: 30%
