$defaultMargin: 2%

#registerWrapper
	width: 60%
	margin-left: 20%
	margin-top: 100px
	padding: $defaultMargin
	background-color: #E3E3E3
	border-radius: 5px
	text-align: center

	.displayInline
		width: 90%
		margin: $defaultMargin

		.registerField
			width: 20%

		.InputError
			border-color: red
			margin-bottom: 2%

		.Error
			color: red
			margin-bottom: 4%

	.registerTitle
		margin-bottom: $defaultMargin

	#registerFirstName, #registerLastName, #registerUsername, #registerPassword, #registerEmail
		margin: 1px

	#registerSubmit, #registerCancel
		margin-top: $defaultMargin
		width: 30%
