$defaultColor: red
$defaultMargin: 2%
$radius: 5px

#rprWrapper
  padding-top: 100px

  #rprForm

    padding: $defaultMargin
    width: 60%
    margin: 0 auto
    background-color: #E3E3E3
    border-radius: $radius

    .inputWrapper
      width: 100%
      margin-top: $defaultMargin
      margin-bottom: $defaultMargin

      .InputError
        border-color: $defaultColor

      .Error
        color: $defaultColor

      .rprLabel
        width: 20%

    #resetPasswordRequest, #rprCancel
      margin-top: $defaultMargin
      width: 30%

    #resetPaswordRequest
      margin-right: $defaultMargin - 1%

    #rprCancel
      margin-left: $defaultMargin - 1%
