#detailsWrapper
	border-radius: 5px
	border-color: #E3E3E3
	border-style: solid
	width: 60%
	margin-left: 20%
	padding-top: 2%
	padding-bottom: 2%

	.contentWrapper
		margin: 2%
		
		.reservationContent
			font-weight: bold
	
	#addTitleWrapper
		margin: 2%
		margin-left: 0
		margin-right: 0
		background-color: #E3E3E3
		padding: 2%

		#newTitle
			margin-bottom: 2px

		#updateTitle
			width: 50%

	#deleteReservation, #cancelReservation
		margin-top: 2%