#detailsWrapper
  border-radius: 5px
  border-color: #E3E3E3
  border-style: solid
  width: 60%
  margin-left: 20%
  padding-top: 2%
  padding-bottom: 2%

  .contentWrapper
    margin: 2%

  #addTitleWrapper
    margin: 2%
    margin-left: 0
    margin-right: 0
    background-color: #E3E3E3
    padding: 2%

    .input-group
      width: 100%
      margin-bottom: 2%

      .InputError
        border-color: red

      .Error
        color: red
        margin-bottom: 4%

      .input-group-addon
        width: 20%

  #deleteReservation, #cancelReservation, #updateTitle
    margin-top: 2%

  #updateTitle
    display: none
