<div id="registerWrapper" class="align-center">
	<h2 class="registerTitle">Register</h2>
	<input id="registerFirstName" type="text" placeholder="First name" class="form-control">
	<input id="registerLastName" type="text" placeholder="Last name" class="form-control">
	<input id="registerUsername" type="text" placeholder="Username" class="form-control">
	<input id="registerPassword" type="password" placeholder="Password" class="form-control">
	<button id="registerSubmit" class="btn btn-success btn-lg">Register</button>
	<button id="registerCancel" class="btn btn-warning btn-lg">Cancel</button>
</div>