<div id="resetPasswordWrapper">
  <h2 class="resetPasswordTitle">Reset your password</h2>
  <form name="resetPasswordForm" onsubmit="return false">
    <div class="inputWrapper input-group">
      <label class="resetPasswordField input-group-addon">New password:</label>
      <input id="newPassword" type="password" placeholder="New password" class="form-control" />
    </div>

    <div class="inputWrapper input-group">
      <label class="resetPasswordField input-group-addon">Write your new password again:</label>
      <input id="newPasswordConfirmation" type="password" placeholder="Password" class="form-control" />
    </div>

    <br />

    <button id="resetPasswordButton" class="btn btn-success btn-lg" type="submit">Reset password</button>

    <button id="resetPasswordCancel" class="btn btn-warning btn-lg">Cancel</button>
  </form>
</div>
