<div id="detailsWrapper">
	<h2>{{title}}</h2>
	<div class="contentWrapper">Reservation ID: <div class="reservationContent">{{id}}</div></div>
	<div class="contentWrapper">Room ID: <div class="reservationContent">{{roomId}}</div></div>
	<div class="contentWrapper">Start: <div class="reservationContent">{{start}}</div></div>
	<div class="contentWrapper">End: <div class="reservationContent">{{end}}</div></div>
	<div id="addTitleWrapper">
		<input type="text" id="newTitle" class="form-control" placeholder="Write your new title here">
		<button id="updateTitle" class="btn btn-success btn-lg">Update title</button>
	</div>
	<button id="deleteReservation" class="btn btn-warning btn-lg">Delete reservation</button>
	<button id="cancelReservation" class="btn btn-lg">Cancel</button>
</div>