<div id="resetPasswordWrapper">
  <h2 class="resetPasswordTitle">Reset your password</h2>
  <div>

    <div class="inputWrapper input-group">
      <label class="resetPasswordField input-group-addon">New password:</label>
      <input id="newPassword" type="text" placeholder="New password" class="form-control" />
    </div>

    <div class="inputWrapper input-group">
      <label class="resetPasswordField input-group-addon">Write your new password again:</label>
      <input id="newPasswordConfirmation" type="New password confirmation" placeholder="Password" class="form-control" />
    </div>

    <br />

    <button id="resetPasswordButton" class="btn btn-success btn-lg">Reset password</button>

    <button id="resetPasswordCancel" class="btn btn-lg">Cancel</button>
  </div>
</div>
