<div>
  <div>
    <label>ID: </label>
    <span>{{id}}</span>
  </div>

  <div>
    <label>Username: </label>
    <span>{{username}}</span>
  </div>

  <div>
    <label>First name: </label>
    <span>{{firstName}}</span>
  </div>

  <div>
    <label>Last name: </label>
    <span>{{lastName}}</span>
  </div>

  <div>
    <label>E-mail: </label>
    <span>{{email}}</span>
  </div>

  <div>
    <label>Account created at: </label>
    <span>{{createdAt}}</span>
  </div>

  <button id="resetPasswordButton" class="btn btn-success">Reset password</button>
  <button id="backToCalendarButton" class="btn">Return to calendar</button>
</div>
