<div id="userDetails">
  <div class="userDetailsWrapper input-group">
    <label class="input-group-addon">ID: </label>
    <span class="input-group-addon">{{id}}</span>
  </div>

  <div class="userDetailsWrapper input-group">
    <label class="input-group-addon">Username: </label>
    <span class="input-group-addon">{{username}}</span>
  </div>

  <div class="userDetailsWrapper input-group">
    <label class="input-group-addon">First name: </label>
    <span class="input-group-addon">{{firstName}}</span>
  </div>

  <div class="userDetailsWrapper input-group">
    <label class="input-group-addon">Last name: </label>
    <span class="input-group-addon">{{lastName}}</span>
  </div>

  <div class="userDetailsWrapper input-group">
    <label class="input-group-addon">E-mail: </label>
    <span class="input-group-addon">{{email}}</span>
  </div>

  <div class="userDetailsWrapper input-group">
    <label class="input-group-addon">Account created at: </label>
    <span class="input-group-addon">{{createdAt}}</span>
  </div>

  <button id="resetPasswordButton" class="btn btn-success btn-lg">Reset password</button>
  <button id="backToCalendarButton" class="btn btn-lg">Return to calendar</button>
</div>
